html,
body {
    width: 100%;
    background: #373B44;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 480px;
    margin: 0 auto;
}

.head .dp {
    display: block;
    margin: 0 auto;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-top: 16px;
}

.rounded-text {
    border-radius: 5px;
    border: 1px solid #fff;
    color: white;
    padding: 5px;
    font-weight: 100;
    margin: 5px;
    cursor: pointer;
}

.rounded-text-selected {
    border-radius: 5px;
    border: 1px solid #f0bf00;
    color: white;
    padding: 5px;
    font-weight: 100;
    margin: 5px;
    cursor: pointer;
}

.project-title {
    font-weight: 100;
    color: #fff;
    font-size: 1.5rem;
    line-height: 110%;
}

.title {
    margin-top: 10px;
    font-weight: 100;
    text-align: center;
    color: #fff;
    font-size: 2.5rem;
    line-height: 110%;
}

.sub-title {
    font-weight: 300;
    text-align: center;
    opacity: 0.5;
    color: #eee;
    font-size: 1.5rem;
    line-height: 110%;
}

.fav-list {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-top: 10px;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-top: 30px;
}

.project-sub-list {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-top: 5px;
}

.fav {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15);
}

.fav:hover {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
}

.textbody {
    color: white;
    margin: 16px;
    margin-top: 16px;
    opacity: 0.9;
    font-weight: 300;
    text-align: justify;
    text-justify: inter-word;
}

.textbodyselect {
    color: #f0bf00;
    cursor: pointer;
    text-decoration: none;
}

@media screen and (max-width:480px) {
    .container {
        width: 100%;
    }
}

.project-holder {
    padding: 16px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.project-card {
    margin: 5px;
    background: white;
    max-width: 200px;
    border-radius: 5px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15);
}

.project-card-body {
    padding: 16px;
}

.project-card-img {
    max-width: 200px;
    border-radius: 5px 5px 0 0;
}

.project-card-body-title {
    font-weight: 300;
}

.project-card-body-description {
    text-align: justify;
    text-justify: inter-word;
    font-weight: 400;
    opacity: 0.6;
}

.unselectable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}