---
title: "Automating Mobile Event Verification"
date: 2024-04-02T11:30:03+00:00
draft: false
layout: redirect
redirect: https://bytes.swiggy.com/automating-mobile-event-verification-1d840f39d300?source=rss-527d2f7f4406------2
tags: ["Android","Testing","Kotlin", "Analytics"]
---
Improving event coverage through automation
